---
import Layout from "../layouts/Base.astro";
---

<Layout title="Register">
  <h1>Register</h1>
  <p>Already have an account? <a href="/signin">Sign in</a></p>
  <form action="/api/auth/register" method="post">
    <label for="email" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Register</button>
  </form>
  <form id="acc-details">
    <label for="username" for="username">Username*</label>
    <input name="username" id="username" />
    <label for="country" for="country">Country of residence*</label>
    <input name="country" id="country" />
    <label for="city" for="city">City, town, village*</label>
    <input name="city" id="city" />
    <label for="origin" for="origin">Country of origin</label>
    <input name="origin" id="origin" />
    <label for="occupation" for="occupation">Occupation</label>
    <input name="occupation" id="occupation" />
    <label for="expertise" for="expertise">Expertise*</label>
    <input name="expertise" id="expertise" />
    <label for="additional" for="additional">Additional Information</label>
    <input name="additional" id="additional" />
    <label for="badge" for="badge">Badges</label>
    <select name="badge" id="badge">
      <option value="hafiz">unselected</option>
      <option value="hafiz">Hafiz</option>
      <option value="scholar">Degree in Islamic Sciences</option>
      <option value="hajji">Performed Hajj</option>
    </select>
  </form>
</Layout>